.cont_participant {
  margin: 1rem auto;
  padding: 5px;
  width: 70%;
  min-height: 230px;
  text-align: center;
  color: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.iconNacionality_participant {
  justify-self: center;
  align-self: center;
  width: 35px;
}

.nick_participant {
  grid-column: 2/ 4;
  align-self: center;
  justify-self: left;
  font-size: 1.8rem;
  
}

.iconConfig_participant {
  grid-column: 4;
  justify-self: right;
  margin: 5px;
  width: 25px;
}
