.cont_title {
  padding-top: 15px;
  text-align: left;
  text-align: center;
  color: rgb(222, 222, 222);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(1, 41, 93, 0.4);
}

.title {
  font-size: 2.3em;
}

.strong_gold {
  color: rgb(255, 200, 0);
}

.strong_strawberry {
  color: rgb(255, 100, 100);
  margin-right: 5px;
}

.iconRat {
  margin-right: 5px;
}

.button_register {
  background: linear-gradient(to left, rgb(255, 100, 100), rgb(255, 200, 0));
  padding: 1rem 3rem;
  margin-top: 25px;
  border: none;
  border-radius: 12px;
  color: rgb(240, 240, 240);
  font-weight: bold;
}

.subtitle_participants {
  color: rgb(222, 222, 222);
  margin: 1.5rem 15px;
  font-size: 1.6em;
}

.cont_participants {
  margin: 2rem;
  padding: 1rem;
  max-height: 320px;
  overflow-y: auto;
}

.p_no_participants {
  text-align: center;
  color: rgb(180, 180, 180);
  font-size: 1.2em;
}
